<div class="main-content">
  <mat-card class="example-card">
    <mat-card-subtitle>{{(question | async)?.viewNumber}} views</mat-card-subtitle>
    <mat-card-title>{{(question | async)?.title}}</mat-card-title>
    <mat-card-content>
      <p>{{(question | async)?.message}}</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button (click)="likeQuestion()" aria-label="Example icon button with a menu icon" color="primary"
              mat-icon-button>
        <mat-icon>thumb_up</mat-icon>
      </button>
      <span>{{(question | async)?.voteNumber}}</span>
      <button (click)="dislikeQuestion()" aria-label="Example icon button with a heart icon" color="warn"
              mat-icon-button>
        <mat-icon>thumb_down</mat-icon>
      </button>
      <button [routerLink]="['/question', questionId, 'new-answer']" aria-label="Example icon button with a heart icon"
              color="accent"
              mat-icon-button>
        <mat-icon>message</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngFor="let answer of (answers | async)" class="answer-card">
    <mat-card-content>
      <p>{{answer.message}}</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button (click)="likeAnswer(answer.id)" aria-label="Example icon button with a menu icon" color="primary"
              mat-icon-button>
        <mat-icon>thumb_up</mat-icon>
      </button>
      <span>{{answer.voteNumber}}</span>
      <button (click)="dislikeAnswer(answer.id)" aria-label="Example icon button with a heart icon" color="warn"
              mat-icon-button>
        <mat-icon>thumb_down</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
