<button [matTooltip]="'Ask new Question'" [routerLink]="'/add-question'" aria-label="Write new Question"
        class="write-question-button" color="primary"
        mat-fab>
  <mat-icon>edit</mat-icon>
</button>

<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>
  <ng-container matColumnDef="title">
    <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by ID"> Title</th>
    <td *matCellDef="let element" mat-cell><a [routerLink]="['/question', element.id]">{{element.title}}</a></td>
  </ng-container>

  <ng-container matColumnDef="submissionTime">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Submission time</th>
    <td *matCellDef="let element" mat-cell> {{element.submissionTime | date : 'short'}} </td>
  </ng-container>

  <ng-container matColumnDef="viewNumber">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Views</th>
    <td *matCellDef="let element" mat-cell> {{element.viewNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="voteNumber">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Votes</th>
    <td *matCellDef="let element" mat-cell> {{element.voteNumber}} </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
