:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}
table {
  width: 80%;
  margin-top: -10px;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

.write-question-button {
  margin-top: 90px;
  margin-left: auto;
  margin-right: calc(10% - 20px);
}
