<mat-card class="main-content">
  <mat-card-title>Post your answer</mat-card-title>
  <mat-card-content class="card-content">
    <mat-form-field appearance="fill">
      <mat-label>Answer Message</mat-label>
      <textarea [(ngModel)]="answerText" matInput placeholder="Your Answer Message goes here..."></textarea>
    </mat-form-field>
  </mat-card-content>

  <mat-divider inset></mat-divider>

  <mat-card-actions>
    <button (click)="onSubmit()" aria-label="Example icon button with a menu icon" color="primary" mat-icon-button>
      <mat-icon>save</mat-icon>
    </button>
    <button [routerLink]="'/list'" aria-label="Example icon button with a heart icon" color="warn" mat-icon-button>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
